openapi: 3.0.3
info:
  title: curator
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://mage.tech:8899'
paths:
  /api/user:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/classify:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  '/api/analyze/{track}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'officiis does not exist , Please upload and try again'
                properties:
                  error:
                    type: string
                    example: 'officiis does not exist , Please upload and try again'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: track
        description: ''
        example: officiis
        required: true
        schema:
          type: string
  /api/songs/search:
    post:
      summary: 'Filters, sorts, and fetches the list of resources.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/songs/batch:
    post:
      summary: 'Creates a batch of new resources in a transaction-safe way.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  description: ''
                  example:
                    - et
                  items:
                    type: string
              required:
                - resources
      security: []
    patch:
      summary: 'Update a batch of resources in a transaction-safe way.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  description: ''
                  example:
                    - sed
                  items:
                    type: string
              required:
                - resources
      security: []
    delete:
      summary: 'Deletes a batch of resources in a transaction-safe way.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/songs:
    get:
      summary: 'Fetches the list of resources.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: 'Bank on It'
                      author: 'Burna Boy'
                      link: imported
                      source: mp3
                      key: Ab
                      scale: major
                      bpm: 93
                      duration: 276.55839225959
                      danceability: 0.83124029884736
                      happy: 0.33422528353791
                      sad: 0.88150359193484
                      relaxed: 0.74334327379862
                      aggressiveness: 0.09797978354618
                      energy: 0.554073870182
                      comment: 'Exclusive @ JustNaija.com'
                      path: 'http://mage.tech:8899/storage/audio/burna_boy_bank_on_it_justnaijacom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/burna_boy_bank_on_it_justnaijacommp3'
                      genre:
                        - 'afro dancehall'
                        - dancehall
                        - 'nigerian hip hop'
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/burna_boy_bank_on_it_justnaijacommp3.jpeg'
                      played: null
                      slug: burna_boy_bank_on_it_justnaijacommp3
                      created_at: '2022-04-28T16:48:47.000000Z'
                      updated_at: '2022-07-04T00:31:48.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 2
                      title: 'Aaar - Ozuna - Tu Olor (Aaar & Pantera Remix)'
                      author: 'Aaar - Ozuna - Tu Olor (Aaar & Pantera Remix)'
                      link: imported
                      source: mp3
                      key: E
                      scale: minor
                      bpm: 97
                      duration: 234.396625
                      danceability: 0.90905309915543
                      happy: 0.6279773183167
                      sad: 0.64124825149775
                      relaxed: 0.44435487389565
                      aggressiveness: 0.11199819557369
                      energy: 0.191196709871
                      comment: 'Aaar - Ozuna - Tu Olor (Aaar & Pantera Remix)'
                      path: 'http://mage.tech:8899/storage/audio/aaar_ozuna_tu_olor_aaar_pantera_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/aaar_ozuna_tu_olor_aaar_pantera_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: aaar_ozuna_tu_olor_aaar_pantera_remixmp3
                      created_at: '2022-04-28T16:49:44.000000Z'
                      updated_at: '2022-07-04T01:16:49.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 3
                      title: Burna_Boy_Ft_Zlatan_Killin_Dem_9jaflaver.com_.mp3
                      author: 'Burna Boy Ft Zlatan Ibile'
                      link: imported
                      source: mp3
                      key: 'G#'
                      scale: major
                      bpm: 130
                      duration: 221.048125
                      danceability: 0.9999992052714
                      happy: 0.71700768338309
                      sad: 0.4129773825407
                      relaxed: 0.42268398735258
                      aggressiveness: 0.31491050124168
                      energy: 0.283174723387
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/burna_boy_ft_zlatan_killin_dem_9jaflavercom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/burna_boy_ft_zlatan_killin_dem_9jaflavercommp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/burna_boy_ft_zlatan_killin_dem_9jaflavercommp3.jpeg'
                      played: null
                      slug: burna_boy_ft_zlatan_killin_dem_9jaflavercommp3
                      created_at: '2022-04-28T17:00:07.000000Z'
                      updated_at: '2022-07-04T01:16:49.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 4
                      title: Recipe
                      author: 'Aluna & KAYTRANADA ft. Rema | afrohitbase.com'
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 108
                      duration: 202.05714367787
                      danceability: 0.97207312451469
                      happy: 0.72894857421569
                      sad: 0.59159862995148
                      relaxed: 0.62068956096967
                      aggressiveness: 0.048488580000897
                      energy: 0.194676488638
                      comment: afrohitbase.com
                      path: 'http://mage.tech:8899/storage/audio/aluna_kaytranada_ft_rema_recipe.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/aluna_kaytranada_ft_rema_recipemp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/aluna_kaytranada_ft_rema_recipemp3.jpeg'
                      played: null
                      slug: aluna_kaytranada_ft_rema_recipemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:12:15.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 5
                      title: 'bad_boy_mix_98BPM_C#min'
                      author: unknown
                      link: imported
                      source: mp3
                      key: B
                      scale: major
                      bpm: 98
                      duration: 225.312
                      danceability: 0.93624684810638
                      happy: 0.50161005475675
                      sad: 0.88527415394783
                      relaxed: 0.68632474541664
                      aggressiveness: 0.080161301512271
                      energy: 0.393726289272
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/bad_boy_mix_98bpm_cmin.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/bad_boy_mix_98bpm_cminmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: bad_boy_mix_98bpm_cminmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:49.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 6
                      title: 'Dotorado Pro - Say Daddy - Dotorado Pro.mp3'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: minor
                      bpm: 128.9
                      duration: 159.373
                      danceability: 0.955665068967
                      happy: 0.67676748920764
                      sad: 0.77248936040061
                      relaxed: 0.653261836086
                      aggressiveness: 0.038502240886113
                      energy: 0.244769588113
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/dotorado_pro_say_daddy_dotorado_pro.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/dotorado_pro_say_daddy_dotorado_promp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: 'http://127.0.0.1:3000/music/dotorado_pro_say_daddy_dotorado_promp3.jpeg'
                      played: null
                      slug: dotorado_pro_say_daddy_dotorado_promp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:49.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 7
                      title: 'Gafacci - BurnaBoy Gbona Gafacci remix free download'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 128
                      duration: 269.1134375
                      danceability: 0.99980065497485
                      happy: 0.67512773383747
                      sad: 0.38075867024335
                      relaxed: 0.59400432489135
                      aggressiveness: 0.14978783831678
                      energy: 0.185031756759
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/gafacci_burnaboy_gbona_gafacci_remix_free_download.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/gafacci_burnaboy_gbona_gafacci_remix_free_downloadmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: gafacci_burnaboy_gbona_gafacci_remix_free_downloadmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 8
                      title: My_Way.mp3
                      author: 'Jarreau Vandal - Topic'
                      link: imported
                      source: mp3
                      key: E
                      scale: minor
                      bpm: 97
                      duration: 189.54452433784
                      danceability: 0.99698777496815
                      happy: 0.4850254477933
                      sad: 0.84746042639017
                      relaxed: 0.78860911726952
                      aggressiveness: 0.034417720045894
                      energy: 0.502588570118
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/my_way.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/my_waymp3'
                      genre:
                        - 'alternative r&b'
                        - 'dutch r&b'
                        - 'indie r&b'
                        - 'indie soul'
                      image: 'http://127.0.0.1:3000/music/my_waymp3.jpeg'
                      played: null
                      slug: my_waymp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 9
                      title: 'Indlovu (feat. Loyiso)'
                      author: 'DJ Zinhle'
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 120
                      duration: 276.58451470621
                      danceability: 0.95729104181131
                      happy: 0.5239911822573
                      sad: 0.61658681184053
                      relaxed: 0.47395161042611
                      aggressiveness: 0.17200683864454
                      energy: 0.342947095633
                      comment: 'Downloaded from Fakaza.com'
                      path: 'http://mage.tech:8899/storage/audio/dj_zinhle_indlovu_feat_loyiso.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/dj_zinhle_indlovu_feat_loyisomp3'
                      genre:
                        - 'afro soul'
                        - 'south african house'
                        - 'south african pop'
                      image: 'http://127.0.0.1:3000/music/dj_zinhle_indlovu_feat_loyisomp3.jpg'
                      played: null
                      slug: dj_zinhle_indlovu_feat_loyisomp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:12:15.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 10
                      title: 'LowKey ft. Jayd Ink [Lyric Video]'
                      author: 'Full Crate'
                      link: imported
                      source: mp3
                      key: E
                      scale: minor
                      bpm: 90
                      duration: 173.45307738559
                      danceability: 0.99997577496937
                      happy: 0.4811733088323
                      sad: 0.68171377267156
                      relaxed: 0.53333896824292
                      aggressiveness: 0.34236196215664
                      energy: 0.59453099966
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/full_crate_lowkey_ft_jayd_ink_lyric_video.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/full_crate_lowkey_ft_jayd_ink_lyric_videomp3'
                      genre:
                        - 'alternative r&b'
                        - 'armenian hip hop'
                        - 'dutch r&b'
                        - 'indie r&b'
                        - 'indie soul'
                      image: 'http://127.0.0.1:3000/music/full_crate_lowkey_ft_jayd_ink_lyric_videomp3.jpeg'
                      played: null
                      slug: full_crate_lowkey_ft_jayd_ink_lyric_videomp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:12:15.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 11
                      title: 1da-Banton-X-Kranium-Whine-Fi-Mi.mp3
                      author: '1da Banton X Kranium '
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: major
                      bpm: 97.2
                      duration: 207.28165
                      danceability: 0.89861325091786
                      happy: 0.75294446086304
                      sad: 0.63630642824703
                      relaxed: 0.62796808944808
                      aggressiveness: 0.052401444616003
                      energy: 0.239246636629
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/1da_banton_x_kranium_whine_fi_mi.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/1da_banton_x_kranium_whine_fi_mimp3'
                      genre:
                        - afropop
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/1da_banton_x_kranium_whine_fi_mimp3.JPG'
                      played: null
                      slug: 1da_banton_x_kranium_whine_fi_mimp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 12
                      title: 'Emile Laurent - EngeDinge.mp3'
                      author: 'EMILE LAURENT'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: major
                      bpm: 126
                      duration: 138.657875
                      danceability: 0.99999998013179
                      happy: 0.49738826105992
                      sad: 0.47886545459429
                      relaxed: 0.47675237556299
                      aggressiveness: 0.3879779279232
                      energy: 0.41859549284
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/emile_laurent_engedinge.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/emile_laurent_engedingemp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/emile_laurent_engedingemp3.jpeg'
                      played: null
                      slug: emile_laurent_engedingemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 13
                      title: 'Nouriginal - Jiggle Likkle ♥️.mp3'
                      author: unknown
                      link: imported
                      source: mp3
                      key: F
                      scale: major
                      bpm: 112.8
                      duration: null
                      danceability: 0.99971937139829
                      happy: 0.57046682317741
                      sad: 0.39807417740424
                      relaxed: 0.49385614196459
                      aggressiveness: 0.14998576045036
                      energy: 0.309508055449
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/nouriginal_jiggle_likkle.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/nouriginal_jiggle_likklemp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: nouriginal_jiggle_likklemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-04-29T11:04:31.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 14
                      title: 'YOU Earnt love.mp3'
                      author: unknown
                      link: imported
                      source: mp3
                      key: B
                      scale: major
                      bpm: 139
                      duration: 164.568
                      danceability: 0.99967925889151
                      happy: 0.65910118818283
                      sad: 0.75322075401034
                      relaxed: 0.39666047266551
                      aggressiveness: 0.078293896280229
                      energy: 0.322681128979
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/you_earnt_love.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/you_earnt_lovemp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: you_earnt_lovemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 15
                      title: angel-blessings--remix--ft-french-montana-davido.mp3
                      author: Angel
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 95.9
                      duration: 226.56000044669
                      danceability: 0.84717184901237
                      happy: 0.6566099741729
                      sad: 0.73843614459038
                      relaxed: 0.55112374126911
                      aggressiveness: 0.063640370965004
                      energy: 0.229812115431
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/angel_blessings_remix_ft_french_montana_davido.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/angel_blessings_remix_ft_french_montana_davidomp3'
                      genre:
                        - afroswing
                      image: 'http://127.0.0.1:3000/music/angel_blessings_remix_ft_french_montana_davidomp3.jpeg'
                      played: null
                      slug: angel_blessings_remix_ft_french_montana_davidomp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 16
                      title: '23'
                      author: 'Burna Boy'
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 102.9
                      duration: 245.9428823632
                      danceability: 0.9068362288177
                      happy: 0.55741186738014
                      sad: 0.88446091413498
                      relaxed: 0.51720082163811
                      aggressiveness: 0.051676789484918
                      energy: 0.710536956787
                      comment: 'Exclusive @ JustNaija.com'
                      path: 'http://mage.tech:8899/storage/audio/burna_boy_23_justnaijacom1.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/burna_boy_23_justnaijacom1mp3'
                      genre:
                        - 'afro dancehall'
                        - dancehall
                        - 'nigerian hip hop'
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/burna_boy_23_justnaijacom1mp3.jpeg'
                      played: null
                      slug: burna_boy_23_justnaijacom1mp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 17
                      title: '02 Meek - In The Morning ft. Odunsi The Engine.mp3'
                      author: Meek
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 101.8
                      duration: 168.2808
                      danceability: 0.87333173411233
                      happy: 0.49737786182335
                      sad: 0.86934414931706
                      relaxed: 0.47396052309445
                      aggressiveness: 0.043925161573238
                      energy: 0.399676173925
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/02_meek_in_the_morning_ft_odunsi_the_engine.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/02_meek_in_the_morning_ft_odunsi_the_enginemp3'
                      genre:
                        - 'manchester hip hop'
                        - 'uk drill'
                        - 'uk hip hop'
                      image: 'http://127.0.0.1:3000/music/02_meek_in_the_morning_ft_odunsi_the_enginemp3.jpeg'
                      played: null
                      slug: 02_meek_in_the_morning_ft_odunsi_the_enginemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 18
                      title: Lous_and_The_Yakuza_-_Solo_(Clip_officiel).mp3
                      author: 'Lous and The Yakuza'
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 110.2
                      duration: 195.60489887836
                      danceability: 0.43270828505047
                      happy: 0.74401763826609
                      sad: 0.92029151320457
                      relaxed: 0.85356187075377
                      aggressiveness: 0.087732110871002
                      energy: 0.488474756479
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/lous_and_the_yakuza_solo_clip_officiel.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/lous_and_the_yakuza_solo_clip_officielmp3'
                      genre:
                        - 'belgian pop'
                      image: 'http://127.0.0.1:3000/music/lous_and_the_yakuza_solo_clip_officielmp3.jpeg'
                      played: null
                      slug: lous_and_the_yakuza_solo_clip_officielmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 19
                      title: '3. Your Love ft. D Black & Efosa Prod. By Snake & ATM.mp3'
                      author: 'David Jay feat. D Black,Efosa & JSnake'
                      link: imported
                      source: mp3
                      key: 'F#'
                      scale: minor
                      bpm: 139.1
                      duration: 243.226125
                      danceability: 0.99828237295151
                      happy: 0.61027738153934
                      sad: 0.72593265175819
                      relaxed: 0.49301261007786
                      aggressiveness: 0.13227541875094
                      energy: 0.324727147818
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/3_your_love_ft_d_black_efosa_prod_by_snake_atm.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/3_your_love_ft_d_black_efosa_prod_by_snake_atmmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/3_your_love_ft_d_black_efosa_prod_by_snake_atmmp3.JPG'
                      played: null
                      slug: 3_your_love_ft_d_black_efosa_prod_by_snake_atmmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 20
                      title: YAYAYO
                      author: Awu
                      link: imported
                      source: mp3
                      key: F
                      scale: major
                      bpm: 140
                      duration: 193.51510300798
                      danceability: 0.99980308115482
                      happy: 0.87452927976847
                      sad: 0.66323255002499
                      relaxed: 0.71342089027166
                      aggressiveness: 0.036551674362272
                      energy: 0.16384087503
                      comment: 'Downloaded From Critiqsite.com'
                      path: 'http://mage.tech:8899/storage/audio/awu_yayayo_critiqsitecom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/awu_yayayo_critiqsitecommp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/awu_yayayo_critiqsitecommp3.jpeg'
                      played: null
                      slug: awu_yayayo_critiqsitecommp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 21
                      title: Aya_Nakamura_-_Doudou_(Clip_officiel).mp3
                      author: 'Aya Nakamura'
                      link: imported
                      source: mp3
                      key: A
                      scale: major
                      bpm: 97.7
                      duration: 171.78125379506
                      danceability: 0.89081295686109
                      happy: 0.87967487743923
                      sad: 0.61107941610473
                      relaxed: 0.46506420203618
                      aggressiveness: 0.24318731975343
                      energy: 0.417434960604
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/aya_nakamura_doudou_clip_officiel.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/aya_nakamura_doudou_clip_officielmp3'
                      genre:
                        - basshall
                        - francoton
                        - 'pop urbaine'
                      image: 'http://127.0.0.1:3000/music/aya_nakamura_doudou_clip_officielmp3.jpeg'
                      played: null
                      slug: aya_nakamura_doudou_clip_officielmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 22
                      title: 'Wetin Dey'
                      author: 'Odunsi (The Engine) | mp3mansion.com'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: major
                      bpm: 95.9
                      duration: 146.35202885307
                      danceability: 0.99995426336924
                      happy: 0.48742931087812
                      sad: 0.93156037727992
                      relaxed: 0.5100644826889
                      aggressiveness: 0.13811089843512
                      energy: 0.752088308334
                      comment: 'Downloaded From www.mp3mansion.com'
                      path: 'http://mage.tech:8899/storage/audio/odunsi_the_engine_wetin_dey.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/odunsi_the_engine_wetin_deymp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/odunsi_the_engine_wetin_deymp3.jpeg'
                      played: null
                      slug: odunsi_the_engine_wetin_deymp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 23
                      title: Aya_Nakamura_-_Doudou_(Clip_officiel)(1).mp3
                      author: 'Aya Nakamura'
                      link: imported
                      source: mp3
                      key: A
                      scale: major
                      bpm: 97.7
                      duration: 171.78125379506
                      danceability: 0.89081295686109
                      happy: 0.87967487743923
                      sad: 0.61107941610473
                      relaxed: 0.46506420203618
                      aggressiveness: 0.24318731975343
                      energy: 0.417434960604
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/aya_nakamura_doudou_clip_officiel1.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/aya_nakamura_doudou_clip_officiel1mp3'
                      genre:
                        - basshall
                        - francoton
                        - 'pop urbaine'
                      image: 'http://127.0.0.1:3000/music/aya_nakamura_doudou_clip_officiel1mp3.jpeg'
                      played: null
                      slug: aya_nakamura_doudou_clip_officiel1mp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 24
                      title: 'DJ Serg & Jishay - King Of Afrika.mp3'
                      author: 'DJ Serg & Jishay'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 101.5
                      duration: 158.24975
                      danceability: 0.91754058854921
                      happy: 0.60263528674841
                      sad: 0.37354086978095
                      relaxed: 0.38676246149199
                      aggressiveness: 0.59450693069292
                      energy: 0.300213158131
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/dj_serg_jishay_king_of_afrika.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/dj_serg_jishay_king_of_afrikamp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/dj_serg_jishay_king_of_afrikamp3.jpeg'
                      played: null
                      slug: dj_serg_jishay_king_of_afrikamp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 25
                      title: 'Love Song (Dao Remix).mp3'
                      author: 'IV JAY'
                      link: imported
                      source: mp3
                      key: D
                      scale: minor
                      bpm: 155
                      duration: 182.8309375
                      danceability: 0.97271217405796
                      happy: 0.6441452325671
                      sad: 0.81139427423477
                      relaxed: 0.55816994607449
                      aggressiveness: 0.01186828428763
                      energy: 0.326422810555
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/love_song_dao_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/love_song_dao_remixmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/love_song_dao_remixmp3.jpeg'
                      played: null
                      slug: love_song_dao_remixmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 26
                      title: 'Radar (feat. Big Zeeks & Sweetie Irie)'
                      author: Juls
                      link: imported
                      source: mp3
                      key: G
                      scale: minor
                      bpm: 105
                      duration: 176.97959313524
                      danceability: 0.94209729880095
                      happy: 0.59566143601842
                      sad: 0.56129263155162
                      relaxed: 0.48038201406598
                      aggressiveness: 0.30885925889015
                      energy: 0.400634229183
                      comment: 'DOWNLOADED FROM ZAMUSIC.ORG'
                      path: 'http://mage.tech:8899/storage/audio/05_radar_feat_big_zeeks_sweetie_irie.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/05_radar_feat_big_zeeks_sweetie_iriemp3'
                      genre:
                        - 'afro dancehall'
                        - afropop
                        - afroswing
                        - 'uk dancehall'
                      image: 'http://127.0.0.1:3000/music/05_radar_feat_big_zeeks_sweetie_iriemp3.jpeg'
                      played: null
                      slug: 05_radar_feat_big_zeeks_sweetie_iriemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 27
                      title: ''
                      author: unknown
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 100
                      duration: 209.50207234118
                      danceability: 0.89120355703764
                      happy: 0.57033865029613
                      sad: 0.54790879454878
                      relaxed: 0.49949037035306
                      aggressiveness: 0.14620293718245
                      energy: 0.283199131489
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/nelson_freitas_bolo_ku_pudim_wef_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/nelson_freitas_bolo_ku_pudim_wef_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: nelson_freitas_bolo_ku_pudim_wef_remixmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 28
                      title: 'esentrik - No Guidance (esentrik edit)'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'F#'
                      scale: minor
                      bpm: 95
                      duration: 243.826875
                      danceability: 0.92399944663048
                      happy: 0.57109344303608
                      sad: 0.82569081783295
                      relaxed: 0.5069193392992
                      aggressiveness: 0.14392022150569
                      energy: 0.245167315006
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/esentrik_no_guidance_esentrik_edit.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/esentrik_no_guidance_esentrik_editmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: esentrik_no_guidance_esentrik_editmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 29
                      title: 'LukeR - 09 Banana'
                      author: unknown
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 98
                      duration: 230.1125625
                      danceability: 0.93975071310997
                      happy: 0.7472241696436
                      sad: 0.70418328046799
                      relaxed: 0.50784345269203
                      aggressiveness: 0.059771949891001
                      energy: 0.311313480139
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/luker_09_banana.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/luker_09_bananamp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: luker_09_bananamp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 30
                      title: 'Jenevieve x BENZIBOY - Tell Me (Remix).mp3'
                      author: Jenevieve
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 98
                      duration: 172.4603125
                      danceability: 0.99999982970101
                      happy: 0.65928285462516
                      sad: 0.54058827672686
                      relaxed: 0.53187069296837
                      aggressiveness: 0.11517721474437
                      energy: 0.507668435574
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/jenevieve_x_benziboy_tell_me_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/jenevieve_x_benziboy_tell_me_remixmp3'
                      genre:
                        - 'alternative r&b'
                        - 'chill r&b'
                        - 'indie r&b'
                      image: 'http://127.0.0.1:3000/music/jenevieve_x_benziboy_tell_me_remixmp3.jpeg'
                      played: null
                      slug: jenevieve_x_benziboy_tell_me_remixmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 31
                      title: 'Love Me Like (feat. DUCKWRTH) [prod. by Lawrence Mace].mp3'
                      author: 'Rayana Jay'
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 118
                      duration: 164.7803125
                      danceability: 0.84697095517601
                      happy: 0.54280690156988
                      sad: 0.70296123198101
                      relaxed: 0.79019384724753
                      aggressiveness: 0.056102631680135
                      energy: 0.287692129612
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/love_me_like_feat_duckwrth_prod_by_lawrence_mace.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/love_me_like_feat_duckwrth_prod_by_lawrence_macemp3'
                      genre:
                        - 'alternative r&b'
                        - 'chill r&b'
                        - 'indie r&b'
                        - 'indie soul'
                      image: 'http://127.0.0.1:3000/music/love_me_like_feat_duckwrth_prod_by_lawrence_macemp3.jpeg'
                      played: null
                      slug: love_me_like_feat_duckwrth_prod_by_lawrence_macemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 32
                      title: 'Major_Lazer_feat._BEAM_&_Shenseea_-_Tiny_(Official_Lyric_Video).mp3'
                      author: 'Major Lazer feat. BEAM & Shenseea'
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: minor
                      bpm: 114.5
                      duration: 202.60575086526
                      danceability: 0.8487591875924
                      happy: 0.56903779502803
                      sad: 0.64396992325783
                      relaxed: 0.50422581699159
                      aggressiveness: 0.096497432949642
                      energy: 0.543308138847
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/major_lazer_feat_beam_shenseea_tiny_official_lyric_video.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/major_lazer_feat_beam_shenseea_tiny_official_lyric_videomp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/major_lazer_feat_beam_shenseea_tiny_official_lyric_videomp3.jpeg'
                      played: null
                      slug: major_lazer_feat_beam_shenseea_tiny_official_lyric_videomp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 33
                      title: LoLo
                      author: Eugy
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: major
                      bpm: 94
                      duration: 166.3999375
                      danceability: 0.87912181658404
                      happy: 0.59342920354434
                      sad: 0.77060584085328
                      relaxed: 0.50251173121589
                      aggressiveness: 0.13913237888898
                      energy: 0.222879767418
                      comment: 'Downloaded from NaijaVibes.com'
                      path: 'http://mage.tech:8899/storage/audio/eugy_lolo_prod_spanker.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/eugy_lolo_prod_spankermp3'
                      genre:
                        - 'afro dancehall'
                        - afropop
                        - 'ghanaian hip hop'
                        - 'swedish dancehall'
                        - 'uk dancehall'
                      image: 'http://127.0.0.1:3000/music/eugy_lolo_prod_spankermp3.jpeg'
                      played: null
                      slug: eugy_lolo_prod_spankermp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 34
                      title: Monalisa
                      author: Lyta
                      link: imported
                      source: mp3
                      key: E
                      scale: minor
                      bpm: 90
                      duration: 196.41602859789
                      danceability: 0.60053232405335
                      happy: 0.56646779552102
                      sad: 0.93804946541786
                      relaxed: 0.71651246398687
                      aggressiveness: 0.057674411218613
                      energy: 0.204526290298
                      comment: Music
                      path: 'http://mage.tech:8899/storage/audio/lyta_monalisa_tooxclusive.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/lyta_monalisa_tooxclusivemp3'
                      genre:
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/lyta_monalisa_tooxclusivemp3.jpeg'
                      played: null
                      slug: lyta_monalisa_tooxclusivemp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 35
                      title: 'Amber_Mark_-_Thong_Song_(Sisqo_Cover)_ _COVERED-19_SERIES.mp3'
                      author: 'Amber Mark'
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: minor
                      bpm: 97.5
                      duration: 213.0024883242
                      danceability: 0.73788332690795
                      happy: 0.54183268772128
                      sad: 0.83512259191937
                      relaxed: 0.71718700064553
                      aggressiveness: 0.078671274913682
                      energy: 0.248250290751
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/amber_mark_thong_song_sisqo_cover_covered_19_series.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/amber_mark_thong_song_sisqo_cover_covered_19_seriesmp3'
                      genre:
                        - 'alternative r&b'
                        - 'indie r&b'
                        - 'indie soul'
                        - 'nyc pop'
                      image: 'http://127.0.0.1:3000/music/amber_mark_thong_song_sisqo_cover_covered_19_seriesmp3.jpeg'
                      played: null
                      slug: amber_mark_thong_song_sisqo_cover_covered_19_seriesmp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 36
                      title: 'Msabato - Cheap WWW.MIKATOJUNIOR.COM.mp3'
                      author: Msabato
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: minor
                      bpm: 107
                      duration: 149.94285913113
                      danceability: 0.90927690267563
                      happy: 0.74405374261551
                      sad: 0.74617547222546
                      relaxed: 0.67883886184011
                      aggressiveness: 0.076282076271517
                      energy: 0.256999224424
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/msabato_cheap_wwwmikatojuniorcom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/msabato_cheap_wwwmikatojuniorcommp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/msabato_cheap_wwwmikatojuniorcommp3.jpeg'
                      played: null
                      slug: msabato_cheap_wwwmikatojuniorcommp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 37
                      title: '01.Kuyashisa ft Tylericu,Dj Thabzin & Kheada(1).mp3'
                      author: 'Major League DJz'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 112
                      duration: 360.0718125
                      danceability: 0.91509152688086
                      happy: 0.63284819722176
                      sad: 0.82750476996104
                      relaxed: 0.49604701598485
                      aggressiveness: 0.12451409809291
                      energy: 0.876401722431
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/01kuyashisa_ft_tylericudj_thabzin_kheada1.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/01kuyashisa_ft_tylericudj_thabzin_kheada1mp3'
                      genre:
                        - 'afro soul'
                        - 'south african pop'
                      image: 'http://127.0.0.1:3000/music/01kuyashisa_ft_tylericudj_thabzin_kheada1mp3.jpeg'
                      played: null
                      slug: 01kuyashisa_ft_tylericudj_thabzin_kheada1mp3
                      created_at: '2022-04-28T17:03:07.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 38
                      title: 'AYY MACARENA - TYGA X JUANFRAN LA CLAVE REMIX'
                      author: unknown
                      link: imported
                      source: mp3
                      key: D
                      scale: minor
                      bpm: 100
                      duration: 34.3770625
                      danceability: 0.9604512155056
                      happy: 0.21531336009502
                      sad: 0.92120477557182
                      relaxed: 0.54309539496899
                      aggressiveness: 0.22824515402317
                      energy: 0.201478838921
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/ayy_macarena_tyga_x_juanfran_la_clave_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/ayy_macarena_tyga_x_juanfran_la_clave_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: ayy_macarena_tyga_x_juanfran_la_clave_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 39
                      title: '23'
                      author: 'Burna Boy'
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 103
                      duration: 245.9428823632
                      danceability: 0.9068362288177
                      happy: 0.55741186738014
                      sad: 0.88446091413498
                      relaxed: 0.51720082163811
                      aggressiveness: 0.051676789484918
                      energy: 0.710536956787
                      comment: 'Exclusive @ JustNaija.com'
                      path: 'http://mage.tech:8899/storage/audio/burna_boy_23_justnaijacom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/burna_boy_23_justnaijacommp3'
                      genre:
                        - 'afro dancehall'
                        - dancehall
                        - 'nigerian hip hop'
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/burna_boy_23_justnaijacommp3.jpeg'
                      played: null
                      slug: burna_boy_23_justnaijacommp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 40
                      title: 'Things Get Worse (Rihanna Diss)'
                      author: Eminem
                      link: imported
                      source: mp3
                      key: D
                      scale: major
                      bpm: 93
                      duration: 237.74040847223
                      danceability: 0.99362797141075
                      happy: 0.87858273386955
                      sad: 0.31529965624213
                      relaxed: 0.39536516964436
                      aggressiveness: 0.46426906734705
                      energy: 0.282190799713
                      comment: 'Downloaded From Olagist.net'
                      path: 'http://mage.tech:8899/storage/audio/eminem_things_get_worse_rihanna_diss.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/eminem_things_get_worse_rihanna_dissmp3'
                      genre:
                        - 'detroit hip hop'
                        - 'hip hop'
                        - rap
                      image: 'http://127.0.0.1:3000/music/eminem_things_get_worse_rihanna_dissmp3.jpeg'
                      played: null
                      slug: eminem_things_get_worse_rihanna_dissmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 41
                      title: '1Take (Naija To London)'
                      author: 'EO | Grimemusik.com'
                      link: imported
                      source: mp3
                      key: 'G#'
                      scale: minor
                      bpm: 104
                      duration: 261.3289796493
                      danceability: 0.90964098410173
                      happy: 0.50335204304958
                      sad: 0.66496150872924
                      relaxed: 0.56191498853944
                      aggressiveness: 0.28037617524916
                      energy: 0.288159489632
                      comment: 'Downloaded From Grimemusik.com'
                      path: 'http://mage.tech:8899/storage/audio/eo_1take_naija_to_london.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/eo_1take_naija_to_londonmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/eo_1take_naija_to_londonmp3.jpeg'
                      played: null
                      slug: eo_1take_naija_to_londonmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 42
                      title: 'Drake - Blem (Offwhite remix prod. Louis More)SNIPPED.mp3'
                      author: DJOFFBLACK
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 100
                      duration: 27.193375
                      danceability: 0.93464007973671
                      happy: 0.167576695967
                      sad: 0.79541915655136
                      relaxed: 0.82003891468048
                      aggressiveness: 0.041290597990155
                      energy: 0.165991872549
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/drake_blem_offwhite_remix_prod_louis_moresnipped.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/drake_blem_offwhite_remix_prod_louis_moresnippedmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/drake_blem_offwhite_remix_prod_louis_moresnippedmp3.jpeg'
                      played: null
                      slug: drake_blem_offwhite_remix_prod_louis_moresnippedmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 43
                      title: 'Karol G - Mi Cama'
                      author: unknown
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 163
                      duration: 148.3231875
                      danceability: 0.97780984640121
                      happy: 0.84065056840579
                      sad: 0.36754894504944
                      relaxed: 0.4220149020354
                      aggressiveness: 0.13075691795287
                      energy: 0.224004074931
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/karol_g_mi_cama.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/karol_g_mi_camamp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: karol_g_mi_camamp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 44
                      title: 'DJ HOMEWRECKR - Complicated Ft. Xander June (DJ MOZES Remix)'
                      author: unknown
                      link: imported
                      source: mp3
                      key: C
                      scale: major
                      bpm: 105
                      duration: 171.5199375
                      danceability: 0.72232656766261
                      happy: 0.42340561960425
                      sad: 0.85216248035431
                      relaxed: 0.70011824369431
                      aggressiveness: 0.11261345313064
                      energy: 0.493450880051
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/dj_homewreckr_complicated_ft_xander_june_dj_mozes_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/dj_homewreckr_complicated_ft_xander_june_dj_mozes_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: dj_homewreckr_complicated_ft_xander_june_dj_mozes_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 45
                      title: 'Buju_Banton_ _Blessed_(Official_Audio)_ _Upside_Down_2020(1).mp3'
                      author: 'Buju Banton'
                      link: imported
                      source: mp3
                      key: B
                      scale: minor
                      bpm: 99
                      duration: 203.99023827968
                      danceability: 0.87904732426008
                      happy: 0.67155985272903
                      sad: 0.64848365717464
                      relaxed: 0.59177641073863
                      aggressiveness: 0.35579069786602
                      energy: 0.332050412893
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/buju_banton_blessed_official_audio_upside_down_20201.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/buju_banton_blessed_official_audio_upside_down_20201mp3'
                      genre:
                        - dancehall
                        - 'lovers rock'
                        - 'modern reggae'
                        - 'old school dancehall'
                        - reggae
                        - 'reggae fusion'
                        - 'roots reggae'
                      image: 'http://127.0.0.1:3000/music/buju_banton_blessed_official_audio_upside_down_20201mp3.jpeg'
                      played: null
                      slug: buju_banton_blessed_official_audio_upside_down_20201mp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 46
                      title: 'Amara La Negra - What A Bam Bam(New 2018) - ElBachaRengue.Net.mp3'
                      author: 'ElbachaRengue Net'
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 104
                      duration: 189.0480625
                      danceability: 0.99253004044294
                      happy: 0.84679913520813
                      sad: 0.37760049104691
                      relaxed: 0.36223412305117
                      aggressiveness: 0.41141547169536
                      energy: 0.268560051918
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/amara_la_negra_what_a_bam_bamnew_2018_elbacharenguenet.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/amara_la_negra_what_a_bam_bamnew_2018_elbacharenguenetmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/amara_la_negra_what_a_bam_bamnew_2018_elbacharenguenetmp3.jpeg'
                      played: null
                      slug: amara_la_negra_what_a_bam_bamnew_2018_elbacharenguenetmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 47
                      title: 'JD REID - TOAST'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 126
                      duration: 200.986
                      danceability: 0.97116272317039
                      happy: 0.70517775339411
                      sad: 0.38703217357397
                      relaxed: 0.4389935500092
                      aggressiveness: 0.36608420974678
                      energy: 0.264980703592
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/jd_reid_toast.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/jd_reid_toastmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: jd_reid_toastmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 48
                      title: Anderson_.Paak_-_Lockdown_(Lyrics).mp3
                      author: 'Anderson .Paak'
                      link: imported
                      source: mp3
                      key: 'C#'
                      scale: major
                      bpm: 100
                      duration: 244.87185189818
                      danceability: 0.88429588675499
                      happy: 0.4675502486527
                      sad: 0.7758876234293
                      relaxed: 0.64572440683842
                      aggressiveness: 0.10816199313849
                      energy: 0.37269321084
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/anderson_paak_lockdown_lyrics.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/anderson_paak_lockdown_lyricsmp3'
                      genre:
                        - 'escape room'
                      image: 'http://127.0.0.1:3000/music/anderson_paak_lockdown_lyricsmp3.jpeg'
                      played: null
                      slug: anderson_paak_lockdown_lyricsmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 49
                      title: 'Drake - Nice For What (Tatoun x Jacks remix).mp3'
                      author: 'Tatoun x Jacks'
                      link: imported
                      source: mp3
                      key: F
                      scale: major
                      bpm: 97
                      duration: 141.4790625
                      danceability: 0.970598757267
                      happy: 0.73531817893187
                      sad: 0.37475754568974
                      relaxed: 0.2864994853735
                      aggressiveness: 0.46529661243161
                      energy: 0.122028440237
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/drake_nice_for_what_tatoun_x_jacks_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/drake_nice_for_what_tatoun_x_jacks_remixmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/drake_nice_for_what_tatoun_x_jacks_remixmp3.jpeg'
                      played: null
                      slug: drake_nice_for_what_tatoun_x_jacks_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 50
                      title: 'MAD GAAL - BEAM**********BIZI'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: major
                      bpm: 99.5
                      duration: 137.9786875
                      danceability: 0.99995280305545
                      happy: 0.75541025151809
                      sad: 0.47346572329601
                      relaxed: 0.47951093812784
                      aggressiveness: 0.21351977313558
                      energy: 0.201510682702
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/mad_gaal_beam.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/mad_gaal_beammp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: mad_gaal_beammp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 51
                      title: 'Geko ft. Maleek Berry & Latifah - Hey Mama [Music Video] _ GRM Daily.mp3'
                      author: 'London Boy'
                      link: imported
                      source: mp3
                      key: D
                      scale: minor
                      bpm: 107
                      duration: 294.24325
                      danceability: 0.99045266509056
                      happy: 0.75264474749565
                      sad: 0.54114238917828
                      relaxed: 0.46583137214184
                      aggressiveness: 0.30871438123286
                      energy: 0.253010809422
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/geko_ft_maleek_berry_latifah_hey_mama_music_video_grm_daily.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/geko_ft_maleek_berry_latifah_hey_mama_music_video_grm_dailymp3'
                      genre:
                        - 'italian disco'
                        - 'new italo disco'
                      image: 'http://127.0.0.1:3000/music/geko_ft_maleek_berry_latifah_hey_mama_music_video_grm_dailymp3.jpeg'
                      played: null
                      slug: geko_ft_maleek_berry_latifah_hey_mama_music_video_grm_dailymp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:50.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 52
                      title: 'God''s Work (feat. iLL BLU) - IAMDDB.'
                      author: unknown
                      link: imported
                      source: mp3
                      key: D
                      scale: minor
                      bpm: 107
                      duration: 147.252125
                      danceability: 0.99970797697703
                      happy: 0.92234387993813
                      sad: 0.41993156075478
                      relaxed: 0.40833107133706
                      aggressiveness: 0.31529781594872
                      energy: 0.179350659251
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/gods_work_feat_ill_blu_iamddb.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/gods_work_feat_ill_blu_iamddbmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: gods_work_feat_ill_blu_iamddbmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 53
                      title: Bebo
                      author: 'Burna Boy'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 108
                      duration: 164.25798578145
                      danceability: 0.90303785034588
                      happy: 0.46671887966139
                      sad: 0.73448649474553
                      relaxed: 0.53484256778445
                      aggressiveness: 0.11239253889237
                      energy: 0.3470531106
                      comment: 'Exclusive @ JustNaija.com'
                      path: 'http://mage.tech:8899/storage/audio/burna_boy_bebo_justnaijacom.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/burna_boy_bebo_justnaijacommp3'
                      genre:
                        - 'afro dancehall'
                        - dancehall
                        - 'nigerian hip hop'
                        - 'nigerian pop'
                      image: 'http://127.0.0.1:3000/music/burna_boy_bebo_justnaijacommp3.jpeg'
                      played: null
                      slug: burna_boy_bebo_justnaijacommp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 54
                      title: 'DJ Freak - Karol G - Mi Cama (EFES Remix)'
                      author: unknown
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 172.5
                      duration: 162.4293125
                      danceability: 0.96731199537005
                      happy: 0.69396122438567
                      sad: 0.37032878505332
                      relaxed: 0.3920889709677
                      aggressiveness: 0.65201072927032
                      energy: 0.151967927814
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/dj_freak_karol_g_mi_cama_efes_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/dj_freak_karol_g_mi_cama_efes_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: dj_freak_karol_g_mi_cama_efes_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 55
                      title: Mr.-Leo-Asabe-Dir.-by-Dr-Nkeng-Stephens.mp3
                      author: 'Mr. Leo '
                      link: imported
                      source: mp3
                      key: A
                      scale: minor
                      bpm: 112
                      duration: 244.66285737414
                      danceability: 0.99996527433395
                      happy: 0.87055613994598
                      sad: 0.55585495531559
                      relaxed: 0.57596643269062
                      aggressiveness: 0.11702713053674
                      energy: 0.168647259474
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/mr_leo_asabe_dir_by_dr_nkeng_stephens.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/mr_leo_asabe_dir_by_dr_nkeng_stephensmp3'
                      genre:
                        - azontobeats
                        - makossa
                      image: 'http://127.0.0.1:3000/music/mr_leo_asabe_dir_by_dr_nkeng_stephensmp3.jpeg'
                      played: null
                      slug: mr_leo_asabe_dir_by_dr_nkeng_stephensmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 56
                      title: 'Loyal (feat. Drake and Bad Bunny) (Remix).mp3'
                      author: partyomo
                      link: imported
                      source: mp3
                      key: F
                      scale: minor
                      bpm: 139.5
                      duration: 281.155875
                      danceability: 0.58845453212659
                      happy: 0.65167374858477
                      sad: 0.93255058924357
                      relaxed: 0.81013762454192
                      aggressiveness: 0.016909054014832
                      energy: 0.312478810549
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/loyal_feat_drake_and_bad_bunny_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/loyal_feat_drake_and_bad_bunny_remixmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/loyal_feat_drake_and_bad_bunny_remixmp3.jpeg'
                      played: null
                      slug: loyal_feat_drake_and_bad_bunny_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 57
                      title: 'Eric Benet Ft. Faith Evans - Georgy Porgy (Tomcio Remix).mp3'
                      author: unknown
                      link: imported
                      source: mp3
                      key: G
                      scale: major
                      bpm: 100
                      duration: 165.694625
                      danceability: 0.99996839250837
                      happy: 0.65693569289786
                      sad: 0.45010063158614
                      relaxed: 0.43565579397338
                      aggressiveness: 0.16699477444802
                      energy: 0.28071859479
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/eric_benet_ft_faith_evans_georgy_porgy_tomcio_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/eric_benet_ft_faith_evans_georgy_porgy_tomcio_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: eric_benet_ft_faith_evans_georgy_porgy_tomcio_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 58
                      title: 'All I Want'
                      author: 'Russ Ft. Davido'
                      link: imported
                      source: mp3
                      key: 'G#'
                      scale: minor
                      bpm: 117
                      duration: 246.6219375
                      danceability: 0.82038967907429
                      happy: 0.53325712680817
                      sad: 0.72713730931282
                      relaxed: 0.61905126571655
                      aggressiveness: 0.1056420898065
                      energy: 0.237962216139
                      comment: 'Downloaded @ Naijaloaded.com.ng'
                      path: 'http://mage.tech:8899/storage/audio/russ_ft_davido_all_i_want.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/russ_ft_davido_all_i_wantmp3'
                      genre: []
                      image: 'http://127.0.0.1:3000/music/russ_ft_davido_all_i_wantmp3.jpeg'
                      played: null
                      slug: russ_ft_davido_all_i_wantmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:14:46.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 59
                      title: 'bad_boy_xtended_version_part2_BEAT_98BPM_C#min'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'F#'
                      scale: minor
                      bpm: 98
                      duration: 269.4
                      danceability: 0.9873526096344
                      happy: 0.3240869668397
                      sad: 0.94953748312863
                      relaxed: 0.74341993982142
                      aggressiveness: 0.18740552799268
                      energy: 0.52709197998
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/bad_boy_xtended_version_part2_beat_98bpm_cmin.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/bad_boy_xtended_version_part2_beat_98bpm_cminmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: bad_boy_xtended_version_part2_beat_98bpm_cminmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 60
                      title: 'FEDE - Santi - Maria ft Goldlink - FEDE REMIX'
                      author: unknown
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 105
                      duration: 164.5974375
                      danceability: 0.9994711961065
                      happy: 0.38230672531894
                      sad: 0.60406916056361
                      relaxed: 0.5954878457955
                      aggressiveness: 0.18730919914586
                      energy: 0.276503771544
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/fede_santi_maria_ft_goldlink_fede_remix.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/fede_santi_maria_ft_goldlink_fede_remixmp3'
                      genre:
                        - 'uk drill'
                        - 'uk hip hop'
                      image: null
                      played: null
                      slug: fede_santi_maria_ft_goldlink_fede_remixmp3
                      created_at: '2022-04-28T17:03:08.000000Z'
                      updated_at: '2022-07-04T01:16:51.000000Z'
                      created_by_id: null
                      updated_by_id: null
                    -
                      id: 61
                      title: 'Mr_Eazi_-_Lento_(feat._J_Balvin)_[Official_Dance_Video].mp3'
                      author: 'Mr Eazi'
                      link: imported
                      source: mp3
                      key: 'A#'
                      scale: minor
                      bpm: 92
                      duration: 196.80657718764
                      danceability: 0.99999944865704
                      happy: 0.53971555456519
                      sad: 0.68551031127572
                      relaxed: 0.71913146972656
                      aggressiveness: 0.051865416404326
                      energy: 0.183584570885
                      comment: null
                      path: 'http://mage.tech:8899/storage/audio/mr_eazi_lento_feat_j_balvin_official_dance_video.mp3'
                      extension: mp3
                      status: analyzed
                      analyzed: 1
                      related_songs: 'http://mage.tech:8899/api/songs/match/mr_eazi_lento_feat_j_balvin_official_dance_videomp3'
                      genre:
                        - 'afro dancehall'
                        - afropop
                        - 'ghanaian hip hop'
                        - 'nigerian pop'
                        - 'swedish dancehall'
[...]
